.lead {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 136px;
    align-items: center;
    outline: red solid 1px;
}